*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 60vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgb(30, 0, 0) 0 0 5px 5px;
}

form h4{
    font-size: 40px;
    font-weight: 600;
    margin: 30px;;
}
form label{
    font-size : 20px;
    margin: 15px ;
}
form input{}