*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgb(30, 0, 0) 0 0 5px 5px;
}

form h4{
    font-size: 40px;
    font-weight: 600;
    margin: 30px;;
}
form label{
    font-size : 20px;
}
form input{
    border-radius: 20px;
    padding: 5px 30px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    margin : 10px;
}

form button{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    margin-top : 20px;
}

form button:hover{
    color: black;
    padding: 10px 40px;
    transition: 0.3s ease;
}